html body
{
    background-color: beige;
    height: 100%;
}

.title
{

}

.turn
{

}

.buttonrestart
{

}


.rows
{

}

.columns
{

}

.buttoncreateboard
{

}

.board
{
    
}

.endtext
{

}

.box
{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    float: left;
}



