/*Kommentare*/

body
{
    font-family: Arial, sans-serif;

    background-color: rgba(136, 133, 133, 0.808);
    
    margin: auto;ss
    padding: 0;
}


/*BILD*/
.Startimage {
    text-align: center; /* Zentriert den Inhalt horizontal */
    margin-top: 20px;
}

.Startimage img {
    border: 5px solid black; /* Fügt eine schwarze Umrandung um das Bild hinzu */
    border-radius: 25px;
}



/*Überschrift*/
.StartHeadline
{
    font-weight: bold;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}



/*Text*/
.Starttext
{
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 15px;
}


.Buttonstart 
{
    display: flex;
    justify-content: center;
}

.Buttonstart button
{
    margin: 0 10px;
    padding: 10px 25px;
    border-radius: 20px;
}


