body
{
    font-family: Arial, sans-serif;

    background-color: rgba(136, 133, 133, 0.808);
    
    margin: auto;ss
    padding: 0;
}

.StoryintroHeadline
{
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-decoration: underline;
}

.StartintroImage
{
    text-align: center;
}

.StartintroImage img
{
    border: 5px solid black;
    border-radius: 25px;
}

.StartintroText
{
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.StartintroButton
{
    display: flex;
    justify-content: center;
}

.StartintroButton button
{
    padding: 10px;
    border-radius: 20px;
}
